.title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3rem;
}

.form {
  max-width: 768px;
  margin: auto;

  input,
  textarea {
    border-radius: 0;
    margin-bottom: 1.43rem;
  }

  textarea {
    height: 180px;
  }
}
