.title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3rem;
}

.form {
  max-width: 768px;
  margin: auto;

  input,
  textarea {
    border-radius: 0;
  }

  textarea {
    height: 180px;
    margin-bottom: 1.43rem;
  }
}

.invalidFeedback {
  text-align: left;
  color: #ff4040;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
